{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins" : [
    "transform-flow-comments",
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
        "app": "./src/app",
        "shared": "./src/shared"
      }
    }]
  ]
}